.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1e1e1e;
    color: white;
    padding: 1vw;
  }
  .footer a{
    transition: color 0.3s ease;
    color: #f2fae4;
  }
  .footer a:hover,
  .footer summary:hover{
    color: #ff8b00;
    cursor: pointer;
  }
  
  .footer-logo {
    display: grid;
    place-content: center;
  }
  
  .footer-logo img {
    width: 240px;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding-bottom:25px;
  }
  
  .footer-content summary{
    font-size: 18px;
    width: 183px;
    color: #c7cfef;
    transition: color 0.3s ease;
  }
  
  .footer-content ul {
    padding-left: 20px;
    list-style: none;
  }
  
  .footer-content li {
    line-height: 30px;
  }
  

.footer-credits {
    color: white;
    background-color: black;
    text-align: center;
}

.reserve {
    display: grid;
    place-content: center;
    font-size: 12px;
    padding: 1vw 0 1vw 0;
}

.credits {
    display: flex;
    justify-content: center;
    gap: 2px;
}

.credits p {
    font-size: 12px;
    margin: 5em 0 0 0 ;
}

.credits img {
    width: 10em;
    vertical-align: top;
}