.header {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: white;
  overflow: hidden;
}

.header-red-container {
  background-color: var(--color-primario);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}

.header-contact {
  display: flex;
  padding: 0.5rem;
  gap: 1rem;
  animation: slideToRight 2s alternate;
}

.header-contact-info {
  display: flex;
  gap: 8px;
}

.header-social {
  display: flex;
  gap: 8px;
  animation: slideToLeft 2s alternate;
}

.header-social > a > i {
  color: white;
  font-size: 16px;
}

@keyframes slideToLeft {
  from {
    transform: translateX(100px);
  }
}

@keyframes slideToRight {
  from {
    transform: translateX(-200px);
  }
}

@media (max-width: 768px) {
  .header-red-container {
    justify-content: center;
  }
}
