/* ------------------ CLASES-BOOTRSTRAP ----------------- */
.d-flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-evenly {
    justify-content: space-evenly;
}
.justify-content-around {
    justify-content: space-around;
}
.align-items-center {
    align-items: center;
}
.align-baseline {
    align-items: baseline;
}
.mt-1 {
    margin-top: 0.5rem;
}
.ms-1 {
    margin-left: 0.5rem;
}
.me-1 {
    margin-right: 0.5rem;
}
.mb-1 {
    margin-bottom: 0.5rem;
}

/* ---------------------- PADDINGS ---------------------- */
.overflow-hidden {
    overflow: hidden;
}

.padding-container {
    padding: 5.0625rem 0;
}
.padding-container-2 {
    padding: 5.0625rem 0 0 0;
}

/* ---------------------- CONTAINER --------------------- */

.container {
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 1rem;
    }
}
@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media screen and (min-width: 1400px) {
    .container {
        max-width: 1230px;
    }
}
