/* ----------------------- BANNER ----------------------- */
.contact--banner {
    background-image: url(../img/contacto/banner.png);
}

.seccion-ubicacion {
    position: relative;
}

/* ------------------------ FORM ------------------------ */
.container-form {
    width: 50%;
    color: var(--color-blanco);
    background-color: var(--color-primario);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3.125rem;
}
.form-reservacion {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2.1875rem;
}
.form-reservacion label {
    margin-bottom: 6px;
    display: block;
}

.form-reservacion .form-input {
    padding: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    width: 100%;
}
.line-input {
    display: flex;
    justify-content: space-between;
}
.line-input__item {
    width: 47%;
}
.select-container select {
    width: 100%;
}
.select-container {
    width: 100%;
    position: relative;
}

.form-reservacion .select-container::after {
    text-align: center;
    background: var(--color-blanco);
    margin-top: 1px;
    margin-right: 4px;
    height: 25px;
    color: var(--color-primario);
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 0px;
    pointer-events: none;
    content: "\025be";
}
.form-reservacion h3 {
    font-size: 2rem;
}

/* ------------------------- MAP ------------------------ */

.ubicacion__map iframe {
    display: block;
    margin: 0 0px 0px auto;
    padding-right: 5rem;
    width: 70%;
    min-height: 600px;
}

@media screen and (max-width: 768px) {
    .ubicacion__map iframe {
        width: 100%;
        padding: 0 1rem;
        margin: 0 auto;
    }
}
